*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
img{
    width:100%;
    height:200px;
}
.card{
    background:rgb(63, 60, 60);
    width:300px;
    height:500px;
    float:right;
    margin-right: 50px;
    border-radius: 10px;
    text-align:center;
    top:20px;
    margin-left: 10px;
}
.picture-sd{
    object-fit:cover;
    width:200px;
    height:200px;
    object-position: center;
}
.card_img{
    width:300px;
    height:200px;
    border:4px solid var(--primary-color);
    border-radius: 40%;
    overflow:hidden;
    margin:25px auto;
}
.cirter{
    font-size: 25px;
    font-weight: bold;
}
.nose{
    color:aliceblue;
    line-height: 25px;
    margin:0;
}
.cool{
    font-size: 20px;
    font-weight: bold;
    margin-top: -450px;
    margin-right: -450px;
}
.icon_menu img{
    width:20px;
    height:20px;
    float:left;
}
img{
    margin-left: 15px;
    margin-right: 28px;
    margin-top: 10px;
}
.contact_my{
    margin-top: 10px;
}
.menu_roft {
    margin-top: -500px;
    margin-left: -1900px;
    text-align: center;
}
h2{
    font-size: 50px;
}
.text{
    margin-left: 326px;
}
.text-s1{
    margin-left: 720px;
}
.text-s2{
    margin-left: 520px;
}
.text-s3{
    margin-left: 520px;
}
.text-s4{
    margin-left: 520px;
}
.hoster{
    background-color: blue;
    font-size: 30px;
    margin-top: 300px;
    margin-left: -1500px;
}
b{
    font-size: 30px;
    margin-left: -2000px;
}
.img-src{
    margin-left: -300px;
}
.ht1{
    margin-left: -1000px;
}
.ht2{
    margin-left: -1000px;
    margin-top: 100px;
}
.nav>li{
    float: left;
    margin-right: 15px;
  }
  
  .nav>li>a{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
  }
  
  .nav li{
    position: relative;
    list-style:none;
  }
  
  .nav li a{
    padding: 10px;
    line-height: 20px;
    display: inline-block;
  }
  
  .nav .sub-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #eee;
    padding: 5px 20px;
  }
  
  .nav li:hover>.sub-menu{
    display: block;
  }
  
  .nav>li>.sub-menu{
    top: 40px;
    left: 0;
  }